useDynLib(CARBayesSTBNP, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(stats)
import(Matrix)
import(MASS)
importFrom(truncnorm, rtruncnorm, dtruncnorm)
importFrom(truncdist, rtrunc)
importFrom(gtools, rdirichlet, ddirichlet)
importFrom(matrixStats, rowMaxs)
importFrom(coda, mcmc, geweke.diag, effectiveSize, HPDinterval, mcmc.list, gelman.diag)
importFrom(utils, setTxtProgressBar, txtProgressBar)
exportPattern("^[[:alpha:]]+")
